@use "./scss/variables";
@use "./scss/common";
@use "./scss/navigation";
@use "./scss/leftsidebar";
@use "./scss/rightsidebar";
@use "./scss/content";
@use "./scss/article";
@use "./scss/articleskeleton";
@use "./scss/card";
@use "./scss/drawer";



@use "./scss/mediaqueries";