*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
  // font-weight: 300;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border-style: none;
  background: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

.main-container {
  height: calc(100vh - var(--navigation-height));
  padding: 1rem 4rem;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

.btn {
  background-color: var(--main-theme);
  color: var(--main-0);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: var(--transition);

  &:hover {
    background-color: var(--main-theme-darker);
  }
}