.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
  z-index: 20;

  &-container {
    width: fit-content;
    height: 100%;
    background-color: var(--main-0);
    padding: 1rem;
    padding-right: 4rem;
    overflow-y: auto;
  }

  &-content {
    display: flex;
    flex-direction: column;
    min-width: 250px;
  }

  &-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;

    h2 {
      flex-grow: 1;
      font-size: 1.2rem;
    }
  }

  &-close {
    align-self: flex-end;
    margin-right: -3rem;
    cursor: pointer;
    font-size: 1.25rem;
  }
}