.list-item {
  padding: 0.75rem;
  font-size: 0.85rem;
  position: relative;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    box-shadow: 1px 0px 10px var(--main-a);
    transform: translateY(1px);
    filter: brightness(101%);
  }

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 0%;
    background-color: var(--main-theme-darker);
    top: 50%;
    transform: translateY(-50%);
    right: -4px;
    transition: var(--transition);
  }

  &:hover::before {
    height: 100%;
  }
}