// Hasta md
@media only screen and (max-width: 768px) {
  .main-container {
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .left-sidebar {
    display: none;
  }

  .drawer-opener {
    display: block;
    text-align: center;
  }
  
  .header {
    &-logo span {
      display: none;
    }
  }
}

// Hasta sm
@media only screen and (max-width: 576px) {

  .drawer {
    &-container {
      width: 100%;
    }
  }

  .header {
    padding: 1rem 2rem;

    &-right {
      gap: 0.5rem;
    }

    &-dropdown-menu {
      left: 0;

      & li {
        padding-left: 1rem;
      }
    }
  }
}