.header {
  position: relative;
  height: var(--navigation-height);
  background-color: var(--navigation-background);
  // border-bottom: 1px solid var(--main-1);
  // box-shadow: 0px 0px 10px var(--main-a);
  padding: 1rem 4rem;
  display: flex;

  &-container {
    width: 100%;
    max-width: var(--site-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    i {
      margin: 0 1rem;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.05);
      }
    }
  }

  &-user {
    display: flex;
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--main-0);
    border: 1px solid var(--main-2);
    box-shadow: 0px 0px 10px var(--main-a);
    border-radius: var(--border-radius);
    min-width: 250px;
    z-index: 10;

    & li {
      padding: 0.5rem;
      cursor: pointer;
      line-height: 1.5rem;
      transition: var(--transition);

      &:first-child {
        border-bottom: 1px solid var(--main-2);
      }

      &:last-child {
        border-top: 1px solid var(--main-2);
      }

      &:hover {
        background-color: var(--main-a);
        color: var(--main-theme-darker);
      }
    }
  }
}